data analysis

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import plotly.plotly as py
import seaborn as sns

In [2]:
raw_data = pd.read_table(
    './data/GM12878_primary_interchromosomal/100kb_resolution_interchromosomal/chr1_chr2/MAPQGE30/chr1_2_100kb.RAWobserved', header=None)
KRnorm_data = pd.read_table(
    './data/GM12878_primary_interchromosomal/100kb_resolution_interchromosomal/chr1_chr2/MAPQGE30/chr1_100kb.KRnorm')

In [4]:
KRnorm_data

           NaN
0          NaN
1          NaN
2          NaN
3          NaN
4     0.019496
5          NaN
6     0.238676
7     0.871199
8     1.016088
9     0.923109
10    0.984405
11    0.957121
12    1.052285
13    0.880809
14    0.904353
15    0.677103
16    1.135033
17    1.078311
18    1.095839
19    0.957265
20    1.274794
21    1.011035
22    1.262792
23    1.115996
24    1.064216
25    0.254622
26    1.003617
27    1.046377
28    1.086705
29    1.055187
...        ...
2465  1.255783
2466  1.104033
2467  1.114535
2468  1.096171
2469  1.018582
2470  0.911164
2471  0.937488
2472  0.944848
2473  1.082278
2474  1.150240
2475  0.896081
2476  0.809994
2477  0.725061
2478  0.692901
2479  0.745478
2480  0.604638
2481  0.588710
2482  0.684950
2483  0.666331
2484  0.868775
2485  0.402921
2486       NaN
2487  0.745269
2488  0.127842
2489  0.491852
2490  1.336906
2491  0.280981
2492       NaN
2493       NaN
2494       NaN

[2495 rows x 1 columns]

In [5]:
def find_cutoff(data, percent):
    
    ### dataset = raw dataset with i,j,Mij ###
    ### percent = 1 = 1%, 5 = 5% and etc ###
    data.columns = ['coord1', 'coord2', 'value']
    counts = data['value'].value_counts().to_dict()
    count_data = pd.DataFrame(list(counts.items()), columns = ['value', 'frequency'])
    sorted_count_data = count_data.sort_values(by=['frequency'])
    sort_data = sorted_count_data.sort_values(by=['value'], ascending=False)
    
    
    data_matrix = np.matrix(sort_data)
    number_of_contacts = len(data)
    #print(number_of_contacts)
    percentage = round(number_of_contacts*(percent/100))
    #print(percentage)
    freq_sum = 0
    
    for element in data_matrix:
        #print(element[0,1])
        freq_sum += element[0,1]
        #print(freq_sum)
        if freq_sum >= percentage:
            return data[data.value >= element[0,0]]

In [6]:
find_cutoff(raw_data, 1)

            coord1     coord2  value
6785       5300000    1600000   11.0
6787       5500000    1600000    9.0
15702      6200000    3600000    8.0
17375     50500000    3900000    8.0
28413     70800000    7000000    8.0
28625     24600000    7100000    8.0
35130     46800000    8300000    8.0
36328     44400000    8500000    9.0
36639      8600000    8600000    8.0
36640      8700000    8600000    8.0
36650      9700000    8600000   10.0
36696     15500000    8600000    8.0
36698     15700000    8600000    8.0
36699     15800000    8600000    8.0
36748     22000000    8600000   10.0
36776     25000000    8600000    9.0
36779     25300000    8600000    9.0
36787     26100000    8600000    8.0
36805     27900000    8600000   11.0
36817     29300000    8600000    8.0
36852     33200000    8600000    8.0
36854     33400000    8600000    8.0
36909     39600000    8600000    8.0
36917     40400000    8600000    8.0
37011     51800000    8600000    8.0
37013     52000000    8600000    8.0
37254      6800000    8700000    8.0
37627     51600000    8700000    8.0
37647     53800000    8700000    9.0
38570     25300000    8900000    8.0
...            ...        ...    ...
2859315  205300000  242800000    8.0
2859316  205400000  242800000    8.0
2859319  205700000  242800000    8.0
2859322  206200000  242800000    8.0
2859370  212000000  242800000    8.0
2859470  226000000  242800000    8.0
2859477  226700000  242800000    8.0
2859555  235100000  242800000    9.0
2859566  236300000  242800000    8.0
2859640  246800000  242800000    8.0
2859657  248500000  242800000    8.0
2859659  248800000  242800000    9.0
2859661  249100000  242800000   27.0
2859880  201700000  242900000    9.0
2859881  201800000  242900000    8.0
2859885  202200000  242900000    9.0
2859890  202700000  242900000   10.0
2859891  202800000  242900000    8.0
2859895  203200000  242900000   11.0
2859906  204300000  242900000   10.0
2859909  204600000  242900000    9.0
2859911  204800000  242900000    8.0
2859915  205200000  242900000    9.0
2859917  205400000  242900000    9.0
2860075  226500000  242900000    8.0
2860077  226700000  242900000    9.0
2860245  247500000  242900000    8.0
2860254  248400000  242900000    9.0
2860260  249100000  242900000   31.0
2860618  249100000  243000000    9.0

[28708 rows x 3 columns]

In [7]:
raw_data.columns = ['coord1', 'coord2', 'value']
len(raw_data[raw_data.value >= 8])

28708

In [ ]:
matr_data = raw_data.pivot('coord1', 'coord2', 'value').fillna(0)
ax = sns.heatmap(matr_data[:1000], vmin = 1, vmax = 10)
ax.invert_yaxis()

In [15]:
raw_data.insert(0, 'ID', range(0, len(raw_data)))

In [ ]:
plt.hist(raw_data['value'], raw_data['ID'])